.body{
    margin: 50px 0;
}

.maincont{
    padding: 4%;
    margin: 20px 0;
}

.container{
    display: flex;
    margin-bottom: 50px;
    
   
}
.click{
    font-size: 30px !important;
    text-decoration: none;
}
img{
    width: 100%;
}
.right{
    width: 30%;
    margin-right: 4%;
}
.left{
    width: 30%;
    margin-left: 4%;
}

h1{
    color: rgb(194, 15, 54);
}
p{
    font-size: 1.4em;
    font-weight: 400;
}
.common{
    margin-bottom: 100px;
}