.display{
    position: static;
   padding: 100px;
    display: flex;
    justify-content: flex-end;
    background: rgb(5, 5, 44);
    color: white;
    
}
.div{
    width: 40%;
    margin: 0 20px;

}
.par{
text-align: justify;
font-weight: 300;
font-size: 1em;
}
h1{
    color: rgb(155, 7, 44);
}
.text{
    text-decoration: none;
    color: white;
}